<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
       <meta charset="UTF-8" />
       <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
       <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <title>DEQSA lab</title>
        <!-- ================== BEGIN BASE CSS STYLE ================== -->
        <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734615/jquery-ui.min.css" rel="stylesheet" />
        <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734729/bootstrap.min.css" rel="stylesheet" />
        <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447735152/animate.min.css" rel="stylesheet" />
        <!-- ================== END BASE CSS STYLE ================== -->
        <!-- ================== END PAGE LEVEL CSS STYLE ================== --> 
        <script src="http://res.cloudinary.com/dnubgpeun/raw/upload/v1461709980/js/modernizr.custom.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <style type="text/css">
      .contenedor{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
      }
      h2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
      form{
        width: 40%;
      }
      .btn{
       color: hsl(355, 30%, 92%);
       background-color: hsl(353, 64%, 53%)!important;
       border-style: none;
      }
     
      .btn  {
          color: hsl(355, 30%, 92%);
          background-color: hsl(353, 64%, 53%);
          max-width: 80%;
          font-size: 1.25rem;
          font-weight: 700;
          text-overflow: ellipsis;
          white-space: nowrap;
          cursor: pointer;
          display: inline-block;
          overflow: hidden;
          padding: 0.625rem 1.25rem;
      }


      .btn {
        cursor: pointer!important; /* "hand" cursor */
      }
  </style>
  <%= render "header_upload" %>
  <%= render "style" %>
  <body>
  <h2>Subir documentos</h2>
    <div class="contenedor"> <!-- Inicia Contenedor -->
        
        <%= form_for(@archivo) do |f| %>
        <% if @archivo.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@archivo.errors.count, "error") %> prohibited this archivo from being saved:</h2>

          <ul>
            <% @archivo.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <div class="field">
          <%= f.label "Selecciona una fecha" %><br>
          <%= f.date_field :fecha, :class=>"form-control"  %>
        </div>
        <div class="field">
          <%= f.label "Ingresa número de folio" %><br>
          <%= f.text_field :folio, :class=>"form-control"  %>
        </div>
        <div class="field">
          <%= f.label "Ingresa número de cliente" %><br>
          <%= f.text_field :cliente, :class=>"form-control"  %>
        </div>
        <div class="field">
          <%= f.label "Elige un archivo" %>
          <%= f.hidden_field :photo, :id=>"archivo" %>
          <%= f.file_field :photo,:class=>"form-control" %>
          <%= f.hidden_field :remote_photo_url, use_filename: true  %>         
        </div>
        <div class="field">
          <%= f.hidden_field :nombre, :class=>"form-control", :id=>"nombre"  %>
        </div>
        <div class="field">
          <%= f.label "Ingresa número de referencia" %><br>
          <%= f.text_field :referencia , :class=>"form-control" %>
        </div>
        <div class="actions">
          <%= f.submit "Subir documento", :class=>"btn btn-success" %>
        </div>
        <% end %>
    </div> <!-- Finaliza Contenedor -->
  </body>
  <!-- Script para detectar el nombre del archivo -->
  <script type="text/javascript">
     $("#archivo_photo").change(function() {
       $("#nombre").val($("#archivo_photo").val().split('\\').pop());
      }); 
  </script>
</html>